
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.partnerspage {
    width: 100%;
    height: auto;
    background-color: #000000;
    align-items: center;
    padding: 80px 0;
}

.partners-text {
    max-width: 1240px;
    height: auto;
    margin: 0 auto;
}

.partners-text h3 {
    font-family: Satoshi;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 64px;
    letter-spacing: 0px;
    text-align: left;
    color: #FE016E;
    text-align: left;
}

.partners-cards {
    max-width: 1440px;
    display: flex;
    margin: 0 auto;
}

.parter-card {
    width: 288px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-top: 63px;
    gap: 16px;
}

.parter-card h4 {
    color: #FFFFFF;
    font-family: Satoshi;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
}

.parter-card p {
    color: #FFFFFF;
    font-family: Satoshi;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
}

.parter-card a {
    cursor: pointer;
    text-decoration: none;
}

.fab {
    width: 26px;
    height: 26px;
    border: 1px solid #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-linkedin-in {
    color: #FFFFFF;
    margin: 0 auto;
}

@media (max-width: 820px){
    .parter-card {
        width: 152px;
        height: auto;
        display: flex;
        flex-direction: column;
        padding-top: 63px;
        gap: 16px;
    }
}


@media (max-width: 480px){
    .partners-text {
        width: 85%;
        height: auto;
        margin: 0 auto;
    }
    
    .partners-text h3 {
        width: 263px;
        font-size: 40px;
        line-height: 40px;
    }
    
    .partners-cards {
        display: flex;
        flex-direction: column;
    }
    
    .parter-card {
        width: 100%;
    }
    
    .fab {
        width: 26px;
        height: 26px;
        border: 1px solid #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .fa-linkedin-in {
        color: #FFFFFF;
        margin: 0 auto;
    }
    
}
